<!DOCTYPE html>

<html>

<head>
    <title>ta9s </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>t7eb ta3ref 7al itta9s</p>

        <form>
            <input placeholder="Location">
            <button>lawej ?</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>